/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Estilos para o cabeçalho */
.header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estilos para o cabeçalho 2 */
.header2 {
  background-color: #6b4caf;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estilos para o título */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para o botão */
button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block; /* Alterado para centralizar horizontalmente */
  margin: 0 auto; /* Centralizar horizontalmente */
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #005f6b;
}

/* Estilos para a lista de perguntas */
#questionsList {
  list-style-type: none;
  padding: 0;
}

/* Estilos para o contêiner de perguntas */
#quizQuestions {
  text-align: center; /* Centralizar conteúdo */
}

/* Estilos para as perguntas */
h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para as opções de resposta */
input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  text-align: left; /* Ajuste para alinhar o texto à esquerda */
}

/* Estilos para os botões de rádio personalizados */
label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 1px;
}

/* Estilos para o indicador do botão de rádio */
input[type="radio"]:checked + label:before {
  content: "";
  background-color: #007bff;
}

/* Estilos para as opções de resposta */
label:hover:before {
  border-color: #0056b3;
}

/* Estilos para o texto das opções de resposta */
label span {
  position: relative;
  top: -2px;
}

/* Estilos para o botão de enviar */
#submitButton {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#submitButton:hover {
  background-color: #0056b3;
}

/* Estilização dos ícones */
.topic-icon {
  text-align: center;
  cursor: pointer;
}

.topic-icon img {
  width: 100px; /* Largura do ícone */
  height: auto; /* Altura automática para manter a proporção */
  margin-bottom: 10px; /* Espaçamento inferior */
}

.topic-icon p {
  font-size: 16px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
}

.animated {
  /* Adicione aqui suas propriedades de animação desejadas */
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
